@import "tailwindcss";

@theme {
  --color-bg: #030712;
  --color-surface: #1a1830;
  --color-accent: #22d3ee;
  --color-accent-2: #a855f7;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
